html, body {
    height: fit-content;    
}
body {
    background-color: #E5E5E5 !important;
    margin-left: 4.59% !important;
    font-family: 'Clash Display', sans-serif !important;
}
.logo {
    width: 8.76;
}
header {
    margin-right: 4.59% !important;
    height: 98.34px !important;
    font-size: 1.17vw;
}
.header-nav {
    margin-left: 10.28vw;
}
.header-nav div {
    height: fit-content;
}
.home {
    width: 4.23vw;
    height: 27px;
    text-align: center;
    position: relative;
    line-height: 27px;
    border-bottom: 2px solid #3D73DD;   
}
.aboutus {
    width: 5.11vw;
}
.aboutus,
.services,
.contact {
    margin-left: 6vw;
    height: fit-content !important;
}
.signin {
    margin-left: 6.35vw;
    width: 8.61vw;
    height: 48px;
    color: #3D73DD;
    border: solid 1px #3D73DD;
    border-radius: 7px;
    background-color: transparent;
}
.uid {
    margin-left: 1.17vw;
    width: 14.67vw;
    height: 48px;
    color: white;
    border-radius: 7px;
    border-color: transparent;
    background-color: #3D73DD;
}
.aside-img {
    margin-top: -415px;    
    float: right;
    width: 50vw;
    height: 50vw;   
}
.section-header {
    margin-top: 120.66px;       
    font-size: 4.09vw;
    font-weight: 600;
    width: 48.76vw;
    line-height: 68.88px;
    height: 138px;
}
.section-content {
    margin-top: 30px;    
    font-size: 1.46vw;
    font-weight: 400;
    line-height: 37px;
    width: 43.87vw;
    height: 110px;
}
.getid {
    width: 16.86vw;
    height: 64px;
    color: white;
    background-color: #3D73DD;
    border-radius: 7px;
    border: transparent;
    margin-top: 30px;
}
footer {
    margin-top: 309px;
}